.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  &__logo {
    height: 30px;
  }
  &__nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
    a {
      font-size: 14px;
      padding: 14px 26px;
    }
  }
}
