* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #2b2c2c;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}
